$primary: #2865ea;
nav {
    margin-bottom: 3%;

    .container-fluid {
        justify-content: center !important;
    }
}

footer {
    background: white;
    position: sticky;
    width: 100%;
    bottom: 0;
    box-shadow: -4px 3px 14px 1px #e4e4e4;

    ul {
        list-style: none;
        display: flex;
        justify-content: space-evenly;
        margin-bottom: 0;

        a {
            text-decoration: none;
            color: #5889f3;
        }

        .current {
            color: $primary;
            font-weight: bold;
        }

        li div {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 7px;
            margin-top: 10%;
            margin-bottom: 10%;

            i {
                font-size: 27px;
            }
        }
    }
}

.got-gave {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    max-width: 700px;
    justify-items: center;
    margin-left: auto;
    margin-right: auto;

    div {
        padding: 15px;
        width: 400px;
        text-align: center;
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 10px;
        border-radius: 5px;

        span {
            font-size: 19px;
            font-weight: bold;
            text-transform: capitalize;
            color: $primary;
        }
    }
}

.buttons-group {
    display: flex;
    justify-content: center;
    margin-top: 2%;

    button {
        border: 1px solid $primary;
        padding: 8px;
        width: 200px;
        background: transparent;
        outline: none;
        font-weight: bold;
        color: $primary;
    }

    button:hover {
        background: $primary;
        transition: 0.5s;
        color: white;
    }

    .debt {
        border-top-left-radius: 50px;
        border-bottom-left-radius: 50px;
    }

    .export {
        border-top-right-radius: 50px;
        border-bottom-right-radius: 50px;
    }
}

.table-container {
    padding: 20px;
    overflow-y: auto;
    height: 500px;

    form {
        width: 100%;

        input {
            width: 100%;
            padding: 10px;
            border: 1px solid #CCC;
            border-radius: 5px;
            outline: none;
        }
    }

    .export-pdf {
        font-size: 30px;
        padding: 5px;
        border: none;
        background: transparent;
        outline: none;

        i {
            color: #2e65ea;
        }
    }

    .group-search {
        display: flex;
        align-items: center;
        gap: 20px;
        max-width: 1400px;
        margin-right: auto;
        margin-left: auto;
    }

    a {
        text-decoration: none;
    }

    .content {
        display: flex;
        gap: 20px;
        align-items: center;
        border-bottom: 1px solid #1a202c45;
        max-width: 1400px;
        padding: 10px 10px 2%;
        margin: 1% auto 2%;

        .info {
            color: #1a202c;
        }

        .circle {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background: #1a202c;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            font-weight: bold;
            font-size: 20px;
        }
    }
}

.table-container::-webkit-scrollbar {
    width: 0.5em;
}

.table-container::-webkit-scrollbar-thumb {
    background-color: $primary;
}

